[submodule "Software/sensor/VL53L0X_rasp_python"]
	path = Software/sensor/VL53L0X_rasp_python
	url = https://github.com/TiagoSeverino/VL53L0X_rasp_python
[submodule "Software/sensor/cmps10"]
	path = Software/sensor/cmps10
	url = https://github.com/TiagoSeverino/python-cmps10
[submodule "Software/sensor/l298n"]
	path = Software/sensor/l298n
	url = https://github.com/TiagoSeverino/python-l298n
[submodule "Software/sensor/MLX90614"]
	path = Software/sensor/MLX90614
	url = https://github.com/TiagoSeverino/python-MLX90614
[submodule "Software/sensor/tpa81"]
	path = Software/sensor/tpa81
	url = https://github.com/TiagoSeverino/python-tpa81
